
* {
    font-family:sans-serif;
    margin:0;/* margem externa */
    padding:0;/* margem interna */
    box-sizing:border-box;
    
}

/* menu superior */

.caixa-roxa{
   
   display:flex;
   height:60px; 
   align-items:center;
   justify-content:center;
   border-bottom:2px solid #d3d3d3;
  
  
   
  
   
}

ul{
   display:flex;
   gap:14px;
   list-style:none;
   margin-left:10px;
   
 
}


li{
   font-size:18px;
   align-items:center;
   font-weight:300;
   color:#373737;
   margin-top:55px;
   margin-bottom:55px;
   cursor:pointer;
  
}

li:hover{
      color:#ff0a00;
      transition:0.5s;
}


.logo{

   width:20px;
   height:20px;
   justify-content:center;
   
   
}


/* parte inferior */

.caixa-azul {
    
    height: 40vh;
    width: 100vw;
    display:flex;
    justify-content:space-between;
    align-items:center;
    /*  padding:20px 10px;  */
   /*  margin-right:10px ; */
    margin-left:20px ; 
    margin-top:20%;
    
    
}

.titulo-iphone {
    font-size:50px;
    margin-top:50px;
    margin-bottom:50px;
 
}

.titulo-secundario {

    font-size:30px;
    margin-top:30px;/* margem parte de cima */
    margin-bottom:20px;/* margem parte de baixo */
    
    
}


.paragrafo {
    font-size:15px;
    margin-bottom:25px;
    
}

.preco {
    font-size:20px;
    color:#626262;
    font-weight:300;
    margin-bottom:20px;
}


.botao {
    background-color:#0071e3;
    color:#ffffff;
    padding:10px 20px;
    border:none;
    border-radius:20px;
    font-size:18px;
    cursor:pointer;
}

.botao:hover{
      background:#F7DA47;
      color:#ff0000;
      transition:0.5s;
      border: 1px solid #81A5C4;
}

.troca-cor {

    width:30px;
    height:30px;
    border-radius:60px;
    border:none;
    cursor:pointer;
    transition:0.5s;
}


.azul {
    background-color:#81A5C4;
}

.amarelo {
    background-color:#F7DA47;
}

.branco {
    background-color:#C1C1C1;
}


.preto {
    background-color:#272D33;
}


.vermelho {
    background-color:#B50012;
}


.roxo {
    background-color:#EDE7F1;
}



.escolha-cor {
    font-size:20px;
    color:#3a3a3a; 
    font-weigth:700;
    margin-top:40px;
    margin-bottom:20px;
    
}


.iphone{
   
    width:210px;
    margin-top:220px;
    Z-index:99;
    margin-right:40px;
    margin-left:30px;
    
    
    
}

.circulo{
   
    
    width:100%;
    height:60%;
    background:#81A5C4;
    position: absolute;
    margin-top:0;
    right: 0;
    top:20%;
    left:0;
    bottom:0;
    clip-path: circle(40.2% at 100% 59%);

 }   
    
    /*  clip-path: circle(37% at 89%); */
    
    /*  clip-path: circle(450px  px); */

